/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/__documents
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
*.pxm
/docker/apps/certs
docker/app/certs/localhost-key.pem
docker/app/certs/localhost.pem
