/src/node_modules
/src//public/hot
/src//public/storage
/src//storage/*.key
/src//vendor
/__documents
/src/.env
/src/.phpunit.result.cache
/src/npm-debug.log
/src/yarn-error.log
.DS_Store
*.pxm
src/database/seeders/Mesylab*
